.header {
  position:fixed;
  top:0;
  left:0;
  height:70px;
  z-index: 200;
}
.px-w-60 {
  width: 60px;
}
.px-w-90 {
  width: 105px;
}
.px-w-120 {
  width: 120px;
}
.rendered-component {
  position:relative;
  top:70px;
  margin-bottom:52px;
}
.bg-light-grey {
  background: #eaeaea;
}
.footer {
  position:fixed;
  bottom:0;
  left:0;
  heigth: 52px;
}
.font-px-13 {
  font-size:13px;
}
.font-px-18 {
  font-size:18px;
}
.font-px-24 {
  font-size:24px;
}
.active-tab {
  background-color:#26A1FF;
}
.none-decoration:hover {
  text-decoration: none;
}
.datepicker.dropdown-menu {
  width: calc(100% - 30px);
  font-size: 18px;
}
.table-condensed {
  width: 100%;
}
#addSuccess {
  display:none;
}
.language-checked {
  position:absolute;
  right:15px;
}
