#root {
  height:100vh;
}
.header {
  position:fixed;
  top:0;
  left:0;
  height:60px;
  z-index: 200;
}
.px-w-60 {
  width: 60px;
}
.px-w-90 {
  width: 105px;
}
.px-w-120 {
  width: 120px;
}
.rendered-component {
  position:relative;
  top:60px;
}
.bg-light-grey {
  background: #eaeaea;
}
.footer {
  position:fixed;
  bottom:0;
  left:0;
  heigth: 52px;
  z-index:100;
}
.font-px-13 {
  font-size:13px;
}
.font-px-18 {
  font-size:18px;
}
.font-px-30 {
  font-size:30px;
}
.font-px-24 {
  font-size:24px;
}
.active-tab {
  background-color:#26A1FF;
}
.none-decoration:hover {
  text-decoration: none;
}
.datepicker.dropdown-menu {
  width: calc(100% - 30px);
  font-size: 18px;
  position:absolute;
  left: 15px !important;
}
.table-condensed {
  width: 100%;
}
#addSuccess {
  display:none;
}
.language-checked {
  position:absolute;
  right:15px;
}
.fa-facebook-official {
  color:#4267B2;
}
.fa-vk {
  color:#4A76A8;
}
.fa-instagram {
  color:#A22AA2;
}
.login-page {
  position:fixed;
  top:60px;
  height: calc(100vh - 60px);
  z-index:32;
  overflow: hidden;
}
.login-alert {
  white-space: pre-wrap;
}

/*slidingMenu*/
.dropdown-item:active {
  background:#007bff;
}

.slide-menu {
  position: fixed;
  width: 280px;
  max-width: 100%;
  min-height: calc(100vh - 60px);
  top: 60px;
  right: 0;
  display: none;
  box-sizing: border-box;
  background: rgba(10, 10, 10, 0.85);
  /* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); */
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  will-change: transform;
  z-index: 15;
}
.slide-menu .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  will-change: transform;
}

.slide-menu ul {
  padding-left: 0;
  list-style: none;
  position: relative;
  width: 320px;
  max-width: 100%;
  margin: 0;
}
.slide-menu ul ul {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
}
.slide-menu.no-transition, .slide-menu.no-transition * {
  transition: none !important;
}
.btn-primary:hover {
  background:#007BFF;
  border:#007BFF;
}
.list-group-item-custom,.list-group-item-custom:hover {
  background: transparent;
  color: #fff;
  border-width:0;
}
.list-group-item-custom.active, .list-group-item-custom:active, .list-group-item-custom:active {
  background:rgba(0,123,255,0.4);
  border-color:#007BFF;
}
.list-group-title:active {
  border-width:0;
  background: transparent
}
.overflow-y {
  height: calc(100vh - 60px);
  overflow-y: scroll
}
.has-error {
  border: 1px solid #DC3545;
  border-radius:4px;
}

/* checkboxes start */
.toggle-button-cover
{
  display: table-cell;
  position: relative;
  width: 50px;
  height: 35px;
  top: 5px;
  box-sizing: border-box;
}

.button-cover
{
  margin: 10px;
  background-color: #fff;
}

.button-cover, .knobs, .layer
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button
{
  position: relative;
  top: 50%;
  width: 50px;
  height: 30px;
  margin: -20px auto 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.button.r, .button.r .layer
{
  border-radius: 100px;
}

.button.b2
{
  border-radius: 2px;
}

.checkbox
{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs
{
  z-index: 2;
}

.layer
{
  width: 100%;
  background-color: #E9EAEC;
  transition: 0.9s ease all;
  z-index: 1;
}

/* Button 3 */
.checkbox-switch .knobs:before
{
  content: '';
  position: absolute;
  background-color: #929BA3;
  border-radius: 50%;
  transition: 0.9s ease all, left 0.9s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  top: 5px;
  left: 6px;
  width: 19px;
  height: 7px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 10px 6px;
}

.checkbox-switch .checkbox:active + .knobs:before
{
  width: 46px;
  border-radius: 100px;
}

.checkbox-switch .checkbox:checked:active + .knobs:before
{
  margin-left: -26px;
}

.checkbox-switch .checkbox:checked + .knobs:before
{
  content: '';
  left: 25px;
  background-color: #28A745;
}

.checkbox-switch .checkbox:checked ~ .layer
{
  background-color: #D4EDDA;
}
/* checkboxes end */
